<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Name</label>
                    <input name="name" [(ngModel)]="name" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Roll No</label>
                    <input name="rollno" [(ngModel)]="rollno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">admno</label>
                    <input name="admno" [(ngModel)]="admno" type="text" class="form-control">
                </div>
                <!-- <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">mobile no</label>
                    <input name="mobileNo" [(ngModel)]="mobileNo" type="text" class="form-control">
                </div> -->
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">college name</label>
                    <input name="college" [(ngModel)]="college" type="text" class="form-control">
                </div>
                <!-- <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">parent Name</label>
                    <input name="parentName" [(ngModel)]="parentName" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">parent ph no</label>
                    <input name="parentPhno" [(ngModel)]="parentPhno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">User Name</label>
                    <input name="username" [(ngModel)]="username" type="text" class="form-control">
                </div> -->
                <!-- <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="label-control">Password</label>

                    <input type="password" name="password" [(ngModel)]="password" id="" class="form-control"> -->

                    <!-- <input name="password" [(ngModel)]="password" type="text" class="form-control"> -->
<!--                 
                </div> -->
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <button (click)="readValues()" class="btn btn-primary">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>